.tech-stack-label{
    min-width:6rem;
    height:1.5rem;
    font-size: 1rem;
    margin:1px 3px;
    padding: 3px;
    border-radius: 6px;
    background: #fff;
    color:purple;
    font-family: 'Happy Monkey', cursive;

    display: flex;
    justify-content: center;
    align-items: center;
}