.side-nav{

    width:15rem;
    height:100vh;
    background: transparent;
    z-index: 50;
    position: fixed;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  flex-end;
    
}